<mat-toolbar color="primary">
  <span>Avatar Cards</span>
</mat-toolbar>

<div style="margin: 15px;">
  <div style="display: flex;"><mat-form-field>
      <mat-label>Sorting</mat-label>
      <mat-select [formControl]="sortingControl">
        <mat-option>--Select--</mat-option>
        <mat-option value="id-by-asc">Id By Asc</mat-option>
        <mat-option value="id-by-desc">Id By Desc</mat-option>
        <mat-option value="domain-by-asc">Domain By Asc</mat-option>
        <mat-option value="domain-by-desc">Domain By Desc</mat-option>
        <mat-option value="name-by-asc">Name By Asc</mat-option>
        <mat-option value="name-by-desc">Name By Desc</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Searching</mat-label>
      <input matInput type="text" [formControl]="searchControl">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="doSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator class="example-form-field" [length]="totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
  </div>
  <div class=".app-wrapper">
    <mat-card class="example-card" *ngFor="let user of users">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Name: {{user.first_name}} {{user.last_name}} </mat-card-title>
        <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
          ID: {{user.id}}
        </a>
      </mat-card-header>
      <img mat-card-image src={{user.avatar}} alt="Photo of a Avatar Card">
      <mat-card-content>
        <p>
          Gender: {{user.gender}}
        </p>
        <p>
          Email: {{user.email}}
        </p>
        <p>
          Domain: {{user.domain}}
        </p>
        <p>
          Availability: {{user.available}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
